html {
  font-size: 16px;
  font-family: Lato, sans-serif;
}

h1 {
  font-family: 'Finger Paint', Lato, sans-serif;
}


body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  margin-top: 7rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#navigation a {
  text-decoration: none;
  color:maroon;
  font-size: 1.2rem;
  padding: 0rem;
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0 1rem ;
}

#navigation li {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.25rem;
}

@media only screen and (max-width:700px) {
  #navtitle h1 {
    font-size: 1rem;
  }
}

#about {
  margin-left: 2rem;
  max-width: 80%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
}


#abouttext {
  padding-right: 2rem;
  line-height: 1.8rem;
  flex-shrink: 2;
}
#aboutimage img{
  max-width: 100%;
  flex-shrink: 1;
}

@media only screen and (max-width:408px) {
  #about {
    max-width: 95%;
  }

  #navigation {
    font-size: 8px;
  }

  a#navtitle {
    display: none;
  }

  nav#navigation {
    justify-content: center;
    padding-left: 0px;
  }
}

@media only screen and (max-width:1324px) {
  #about {
    display:flex;
  }
  
  #aboutimage img {
    display: none;
  }
}

#schedule {
  margin-top: 6rem;
  padding-left: 2rem;
  width: 80%;
}

table {
  border-collapse: collapse;
  max-width: 80%;
}

#tableheaders {
  font-family: 'Finger Paint', sans-serif;
  font-size: 1.5rem;
  text-align: left;
}

.col1, .col2, .col3, .col4 {
  padding: 0.8rem 1rem;
}

th.col1, th.col2 {
  width: 8%;
}

th.col3 {
  width: 15%;
}

th.col4 {
  width: 60%;
}

tr {
  line-height: 2.5rem;
}

td {
  line-height: 1.8rem;
}

th, td {
  border: 1px solid black;
}

@media only screen and (max-width:1324px) {
  th.col1, th.col2 {
    width: 3%;
  }

  .col1, .col2, .col3, .col4 {
    padding: 0.4rem 0.4rem;
  }

  th.col4 {
    width: 85%;
  }

  table {
    border-collapse: collapse;
    max-width: 100%;
  }
}

@media only screen and (max-width:660px) {
  .mobile {
    display:flex;
    flex-direction: column;
  }

  .notmobile {
    display:none;
  }

  .schedulecard h6, .schedulecard h3, .schedulecard p {
    margin: 0.5rem;
  }

  .schedulecard {
    margin-bottom: 1.5rem;
  }
}

#rules {
  margin-top: 3rem;
  margin-left: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

#imgleft {
  width: 40%;
}

#imgleft img {
  max-width: 80%;
}

#rulestext {
  text-align: left;
  width: 30%;
}

#rulestext li {
  margin: 2rem 0;
}

@media only screen and (max-width:1000px) {
  #imgleft {
    display: none;
  }

  #rulestext {
    width: 100%;
    margin-right: 2rem;
  }
}


footer {
  background-color: black;
  font-family: 'Finger Paint', sans-serif;
  color: maroon;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3rem;
  width: 100%;
}

footer p {
  display: inline;
  padding: 1rem;
}
